html,
body {
  height: 100%;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 108%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 15px;
  color: #4db6ac;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #4db6ac;
  text-decoration: none;
}


a:hover {
  outline: 0 none;
}

body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #3EC1D5;
  color: #4db6ac;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 10px;
  transition: background 0.5s;
}

@media (max-width: 760px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #4db6ac;
  color: #ffff;
  outline: none;
}

.clear {
  clear: both;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.area-padding {
  padding: 70px 0px 80px;
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 55px;
  position: relative;
  text-transform: capitalize;
}

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);
  z-index: 9;
}

.main-menu ul.navbar-nav li {
  display: inline-block;
  padding: 0px 13px;
}

.main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #4db6ac;
  font-size: 18px;
  font-weight: 580;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active a:focus {
  color: #4db6ac;
}

.main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #4db6ac;
  position: relative;
}

.navbar {
  border: medium none;
  margin-bottom: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0);
}

.main-menu ul.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #333;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #4db6ac;
}

.header-area.stick {
  background-color: rgb(255, 255, 255);
  height: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

.stick .navbar-header a.navbar-brand {
  display: inline-block;
  height: 70px;
}

.sticky-logo h1 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.sticky-logo h1 span {
  color: #4db6ac;
}

.about-area {
  background-color: #ffffff;
}

.section-headline.services-head>h2 {
  margin-bottom: 25px;
}

.services-details {
  padding-top: 40px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.video {
  width: 75%;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
}

.contact-form #sendmessage {
  color: rgb(10, 10, 10);
  border: 1px solid rgb(11, 235, 235);
  display: none;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.map-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("../img/Map.jpg");
  min-height: 500px;
  margin: 0 auto;
  width: 100%;
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.map-container {
  margin-top: 80px;
}

.footer {
  left: 0;
  bottom: 2;
  width: 100%;
  height: auto;
  background-color: Black;
  color: white;
  padding: 20px;
  text-align: center;
}

.contact-form {
  width: 85%;
  max-width: 700px;
  background: #f1f1f1;
  top: 80%;
  bottom: 80%;
  left: 50%;
  padding: 30px 30px;
  border-radius: 10px;
  box-shadow: 0 0 2px black;

}